name: Terraform Deployment us-east-1 qa

on:
  # push:
  #   branches:
  #     - dev
  workflow_dispatch:  # Manual triggering


jobs:
  terraform:
    name: Deploy Terraform to AWS QA Environment
    runs-on: ubuntu-latest

    env:
      AWS_REGION: eu-central-1

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.3.7

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Initialize Terraform
        working-directory: ./infra
        run: terraform init -backend-config="bucket=${{ secrets.TF_VAR_STATE_BUCKET }}" -backend-config="key=us-east-1/qa/terraform.tfstate"

      - name: Validate Terraform
        working-directory: ./infra
        run: terraform validate

      - name: Plan Terraform
        working-directory: ./infra
        run: terraform plan -var-file=environments/us-east-1_qa.tfvars -out=tfplan

      - name: Apply Terraform
        working-directory: ./infra
        run: terraform apply tfplan
