name: Terraform Destroy qa/staging/prod in us-east-1 and us-west-1

on:
  workflow_dispatch:
    inputs:
      region:
        description: 'AWS Region'
        required: true
        default: 'us-east-1'
        type: choice
        options:
          - us-east-1
          - us-west-1
      environment:
        description: 'Environment'
        required: true
        default: 'qa'
        type: choice
        options:
          - prod
          - qa
          - staging

jobs:
  destroy:
    runs-on: ubuntu-latest

    env:
      AWS_REGION: eu-central-1
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: 1.3.7

    - name: Initialize Terraform
      run: terraform init -backend-config="bucket=${{ secrets.TF_VAR_STATE_BUCKET }}" \
                          -backend-config="key=${{ github.event.inputs.region }}/${{ github.event.inputs.environment }}/terraform.tfstate"
      working-directory: ./infra

    - name: Destroy Terraform
      run: terraform destroy -var-file=environments/${{ github.event.inputs.region }}_${{ github.event.inputs.environment }}.tfvars -auto-approve
      working-directory: ./infra
