name: Terraform Deploy Any env and any region

on:
  workflow_dispatch:
    inputs:
      region:
        description: 'AWS Region'
        required: true
        default: 'us-east-1'
        type: choice
        options:
          - us-east-1
          - us-west-1
      environment:
        description: 'Environment'
        required: true
        default: 'qa'
        type: choice
        options:
          - prod
          - qa
          - staging

jobs:
  destroy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ github.event.inputs.region }}

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: 1.3.7

    - name: Initialize Terraform
      run: terraform init
      working-directory: ./regions/${{ github.event.inputs.region }}/${{ github.event.inputs.environment }}

    - name: Destroy Terraform
      run: terraform destroy -var-file=${{ github.event.inputs.environment }}.tfvars -auto-approve
      working-directory: ./regions/${{ github.event.inputs.region }}/${{ github.event.inputs.environment }}
